.git
.gitignore
vendor
node_modules
npm-debug.log
yarn-error.log
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.backup
.env.production
.editorconfig
.idea
.vscode
Dockerfile
docker-compose.yml
